<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NRTDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=NRTVending;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>



	<!-- 
		Change the connectionString to be your connectionstring, 
			or... just make data source = your server name;	
		if YoureAllGoodNow = true, then go to Database.cs file 
																-->
